@font-face {
    font-family: 'icomoon';
    src:  url('../img/icomoon/fonts/icomoon.eot?mqgsk2');
    src:  url('../img/icomoon/fonts/icomoon.eot?mqgsk2#iefix') format('embedded-opentype'),
    url('../img/icomoon/fonts/icomoon.ttf?mqgsk2') format('truetype'),
    url('../img/icomoon/fonts/icomoon.woff?mqgsk2') format('woff'),
    url('../img/icomoon/fonts/icomoon.svg?mqgsk2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --dark-blue-1: hsl(217, 28%, 15%);
    --dark-blue-2: hsl(218, 28%, 13%);
    --dark-blue-3: hsl(216, 53%, 9%);
    --dark-blue-4: hsl(219, 30%, 18%);
    --Cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
}

h1,
h2,
h3,
h5 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color:var(--white);
}

p {
    line-height: 20px;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    background-color: var(--dark-blue-1);
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: var(--dark-blue-2);
}

.logo-header {
    margin-left: 15px;
}

.logo-header img{
    width: 95px;
    height: 25px;
}

header nav ul {
    display: flex;
}

header nav ul a {
    margin: 0 10px;
    color: var(--white);
}

.main-container {
    position: relative;
    z-index: 1;
    text-align: center;
    background: linear-gradient( var(--dark-blue-1) 57%, var(--dark-blue-2)50%);
}

.montain img{
    width: 100%;
    height: 140px;
    position: absolute;
    top: 203px;
    left: 0;
}

.main-container--img {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.main-container--img img {
    width: 100%;
}

.main-container h1 {
    width: 90%;
    font-size: 2.6rem;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 37px;
    line-height: 40px;
}

.main-container p {
    width: 80%;
    margin: 20px auto;
}

.button-started {
    width: 240px;
    height: 45px;
    border: none;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 30px;
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: linear-gradient(90deg, var(--Cyan), var(--blue));
}

.button-started:focus {
    outline: none;
}

.prop-container {
    margin: 100px 0;
}


.prop-container--items {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.prop-container--items--img {
    width: 100%;
    height: 100px;
    margin: 15px 0;
    background-repeat: no-repeat;
    background-position-x: center;
}

.img-access {
    background-image: url(../img/icon-access-anywhere.svg);
}

.img-security {
    background-image: url(../img/icon-security.svg);
}

.img-real-time {
    background-image: url(../img/icon-collaboration.svg);
}

.img-any-file {
    background-image: url(../img/icon-any-file.svg);
}

.prop-container--items h3 {
    margin-bottom: 10px;
}

.prop-container--items p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.productive-container {
    text-align: center;
}

.productive-container--inf {
    width: 85%;
    margin: 0 auto;
}

.productive-container--inf p {
    margin: 20px 0;
    text-align: left;
}

.productive-container--inf h2 {
    margin: 20px 0;
}

.productive-container--inf a {
    display: flex;
    align-items: center;
    text-align: left;
    color: var(--Cyan);
    text-decoration: underline;
}

.icon-arrow {
    margin: 0 10px;
    font-size: 19.2px;
}

.icon-arrow img {
    width: 20px;
}

.comments-container {
    margin-top: 200px;
}

.quotes {
    width: 85%;
    margin: 0 auto;
}

.quotes img {
    width: 30px;
    position: relative;
    top: 8px;
}

.comments-container--items {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: left;
    position: relative;
    z-index: 1;
    border: solid #00000012 .5px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgb(122, 119, 119, .21);
    background-color: var(--dark-blue-4);
}

.comments-container--items > p {
    padding: 30px 15px;
    font-size: 1.3rem;
}

.comments-container--items--inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.comments-container--items--inf p {
    font-size: 1rem;
    letter-spacing: 2px;
}

.ing-container {
    display: flex;
    padding: 0 18px;
    margin-bottom: 30px;
}

.ing-container  img {
    width: 35px;
    border-radius: 50%;
}

.comments-container--items--inf h5 {
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: 2px;
}

.access-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 168.1px;
    background-color: var(--dark-blue-1);
    border-radius: 8px;
    box-shadow:  0px 0px 10px 0px rgb(23 22 22 / 47%);
}

.access-container h3 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.access-container p {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-email input {
    width: 240px;
    height: 45px;
    border: none;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 30px;
    padding-left: 30px;
    font-size: 1rem;
}

.form-email input:focus {
    outline: none;
}

footer {
    padding-top: 230px;
    background-color: var(--dark-blue-3);
}

.location-container--logo {
    width: 75%;
    margin: 0 auto;
}

.location {
    width: auto;
    height: 18px;
    background-image: url(../img/icon-location.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 10%;
    top: 45px;
}

.location-container p {
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.4rem;
}

.phone {
    width: auto;
    height: 18px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 10%;
    top: 20px;
}

.contact-container p {
    width: 65%;
    margin: 0 auto;
    font-size: 1.4rem;
}

.gmain {
    width: auto;
    height: 16px;
    background-image: url(../img/icon-email.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 10%;
    top: 20px;
}

.inf-proyect {
    width: 82%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.inf-proyect  nav ul a li,
.terms-container  nav ul a li {
    margin-bottom: 15px;
}

.terms-container {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.redes {
    width: 90%;
    height: 140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
    font-size: 30px;
    padding: 0 10px;
}